#section{
    padding: 50px 100px;
}
.wrap{
    width: fit-content;
    text-align: right;
    margin-bottom: 40px;
}
.search{
    margin-bottom: 3px;
    border: 1px solid green;
    padding: 5px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin-top: 50px;
}
table{
    text-align: left;
    td{
        padding: 3px 5px;
        border: 1px solid #000;
        &.min{
            color: green;
        }
        &.max{
            color: red;
        }
    }
}
span{
    display: inline-block;
    margin-right: 30px;
}
.cart{
    text-align: center;
}
select{
    margin-top: 10px;
    width: 100px;
    height: 50px;
    font-size: 18px;
}